<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; font-weight: bold;">
    <br><br>
    <div style="font-weight: bold; font-size: 40px">íŒŒì´ì¬ìœ¼ë¡œ ëë‚´ëŠ” ì¸ê³µì§€ëŠ¥ A to Z</div>
    <div style="font-weight: bold; font-size: 20px">[09] í˜•íƒœë¥¼ ê°–ì¶˜ ë°ì´í„°ì™€ ì „ì²˜ë¦¬</div>
    <hr style="width:80%;text-align:left;margin-left:0;border:0.5px solid green">
    <br>
    &#x2022; ì •í˜• ë°ì´í„°ì˜ í˜•íƒœì™€ íŠ¹ì§•ì— ëŒ€í•´ ì´í•´í•  ìˆ˜ ìˆë‹¤.<br>
    &#x2022; ì •í˜• ë°ì´í„°ì˜ êµ¬ì¡°ë¥¼ ì‚´í´ë³´ê³  í™œìš©í•˜ê¸° ì‰½ê²Œ ì „ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.<br>
</div>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>1. ì •í˜• ë°ì´í„°ì˜ íŠ¹ì§•</h2>
</div>

**ì •í˜• ë°ì´í„°**ëŠ” ë¯¸ë¦¬ ì •í•´ ë†“ì€ í˜•ì‹ê³¼ êµ¬ì¡°ì— ë”°ë¼ ì €ì¥ë˜ë„ë¡ êµ¬ì„±ëœ ë°ì´í„°ì—ìš”.  
ì •í˜• ë°ì´í„°ê°€ ê°€ì§€ëŠ” íŠ¹ì§•ì´ ë¬´ì—‡ì¸ì§€, ì–´ë–»ê²Œ í™œìš©í•  ìˆ˜ ìˆì„ì§€ ì•Œì•„ë³´ì•„ìš”.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-02-01.png" width="500"></th>
    </tr>
<tr>
    <th>ì •í˜• ë°ì´í„°ì™€ ë¹„ì •í˜• ë°ì´í„°</th>
</tr>
</table>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #31708f; border-color: #bce8f1;">
    <div style="font-weight: bold; font-size: 20px">ğŸ“Œ TIP</div>
í‘œ í˜•íƒœë¡œ ë‚˜íƒ€ë‚¸ ê²ƒì´ ì •í˜• ë°ì´í„°ë¡œ, ì˜ìƒì´ë‚˜ ì–¸ì–´ ë“±ì˜ ë¹„ì •í˜• ë°ì´í„°ì™€ ë‹¤ë¥¸ êµ¬ì¡°ì—ìš”.  
</div>

ì •í˜• ë°ì´í„°ëŠ” í‘œì™€ ê°™ì´ ëª…í™•í•œ êµ¬ì¡°ë¥¼ ê°€ì§€ê³  ìˆì–´ì„œ ì—¬ëŸ¬ ì¥ì ì„ ê°€ì§€ê³  ìˆì–´ìš”.
* í–‰ê³¼ ì—´ë¡œ ëª¨ë“  ë°ì´í„°ë¥¼ í‘œí˜„í•  ìˆ˜ ìˆì–´, **ì»´í“¨í„°ê°€ ì ‘ê·¼**í•˜ê¸° ì‰¬ì›Œìš”.
* ê° ì—´ë§ˆë‹¤ **ê³µí†µëœ ì†ì„±**(**ìˆ«ì, ë¬¸ìì—´, ë‚ ì§œ ë“±**)ì„ ê°€ì§€ê¸° ë•Œë¬¸ì— í•„ìš”í•œ íŠ¹ì§•ì„ ë¶„ì„í•˜ê¸° ì‰¬ì›Œìš”.
* ë°ì´í„°ê°€ ì²´ê³„ì ìœ¼ë¡œ ì €ì¥ë˜ì–´ì„œ **ì €ì¥ ê³µê°„**ì´ ë§ì´ í•„ìš”í•˜ì§€ ì•Šì•„ìš”. 
* ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•˜ê±°ë‚˜ ìˆ˜ì •í•˜ëŠ” ë“± **ê´€ë¦¬í•˜ê¸° í¸ë¦¬**í•´ìš”.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-02-02.png" width="500"></th>
    </tr>
<tr>
    <th>ì •í˜• ë°ì´í„°ì˜ íŠ¹ì§•</th>
</tr>
</table>

### **ì •í˜• ë°ì´í„° ìˆ˜ì§‘**
ì¸ê³µì§€ëŠ¥ í•™ìŠµì— ì‚¬ìš©í•˜ëŠ” ì •í˜• ë°ì´í„°ë¥¼ ì œê³µí•˜ëŠ” ì—¬ëŸ¬ ì‚¬ì´íŠ¸ê°€ ìˆì–´ìš”.  
ì—¬ê¸°ì„œëŠ” ëŒ€í‘œì ìœ¼ë¡œ ë‘ ê°€ì§€ ì˜ˆì‹œë¥¼ ì†Œê°œí• ê²Œìš”.   
* ê³µê³µ ë°ì´í„° í¬í„¸(https://www.data.go.kr/): ë‹¤ì–‘í•œ ë¶„ì•¼ì˜ ë°ì´í„°ê°€ ìˆì§€ë§Œ, ë•Œë•Œë¡œ ê°’ì´ ê³ ë¥´ì§€ ëª»í•´ ì „ì²˜ë¦¬ ê³¼ì •ì´ í•„ìš”í•˜ê¸°ë„ í•´ìš”.
* ìºê¸€(https://www.kaggle.com/): ì£¼ì–´ì§„ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ í•´ê²°í•˜ê¸° ìœ„í•œ ëŒ€íšŒ í”Œë«í¼ì´ì—ìš”. ëŒ€íšŒë¥¼ ìœ„í•œ ë°ì´í„°ë¥¼ ì œê³µí•˜ê¸° ë•Œë¬¸ì— ì–´ëŠ ì •ë„ ì „ì²˜ë¦¬ê°€ ë˜ì–´ ìˆì–´ìš”.

### **ì •í˜• ë°ì´í„°ì˜ í˜•íƒœ**

ì •í˜• ë°ì´í„°ì˜ í˜•íƒœëŠ” CSV(Comma Separated Values), ê´€ê³„í˜• ë°ì´í„°ë² ì´ìŠ¤, ìŠ¤í”„ë ˆë“œì‹œíŠ¸ ë“± ì—¬ëŸ¬ ê°€ì§€ê°€ ìˆì–´ìš”.  
ëŒ€í‘œì ì¸ ì˜ˆì‹œì¸ CSVëŠ”, ì•„ë˜ì™€ ê°™ì´ ê° ë°ì´í„° ê°’ì„ ì‰¼í‘œë¡œ êµ¬ë¶„í•˜ëŠ” í˜•íƒœì…ë‹ˆë‹¤.

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/ai/AI-02-03.gif" width="500"></th>
    </tr>
<tr>
    <th>CSV íŒŒì¼ì˜ í˜•íƒœ</th>
</tr>
</table>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>2. ë°ì´í„° ì „ì²˜ë¦¬ ì‹¤ìŠµí•˜ê¸°</h2>
</div>

ì¸ê³µì§€ëŠ¥ì„ ì¢‹ì€ ë°©ë²•ìœ¼ë¡œ í•™ìŠµí•˜ëŠ” ê²ƒë§Œí¼ ì˜¬ë°”ë¥¸ ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²ƒë„ ì¤‘ìš”í•´ìš”.  
ì›í•˜ëŠ” ì„±ëŠ¥ìœ¼ë¡œ ì¸ê³µì§€ëŠ¥ì„ í•™ìŠµì‹œí‚¤ë ¤ë©´, ìˆ˜ì§‘í•œ ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬í•˜ì—¬ ë°ì´í„°ì˜ í’ˆì§ˆì„ ë†’ì—¬ì•¼ í•´ìš”.  
pandasë¥¼ ì‚¬ìš©í•˜ì—¬, ì •í˜• ë°ì´í„°ì— ëŒ€í•´ ì „ì²˜ë¦¬í•˜ëŠ” ê³¼ì •ì„ ë°°ì›Œë´ìš”.

### **pandas ë¼ì´ë¸ŒëŸ¬ë¦¬**

pandasëŠ” ë°ì´í„°ë¥¼ ë¶„ì„í•˜ê¸° ìœ„í•œ python ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ìš”.  
pandasë¥¼ í™œìš©í•˜ì—¬, pythonìœ¼ë¡œ ì—‘ì…€ì„ ë‹¤ë£¨ë“¯ì´ ë°ì´í„° êµ¬ì¡°ë¥¼ ë§Œë“¤ê³  ë‹¤ë£° ìˆ˜ ìˆì–´ìš”.  

* pythonë§Œìœ¼ë¡œ ë°ì´í„°ë¥¼ ë¶„ì„í•  ë•Œë³´ë‹¤ ì†ë„ê°€ ë¹¨ë¼ìš”.
* ëˆ„ë½ëœ ë°ì´í„°ë¥¼ ì²˜ë¦¬í•˜ê¸° ìš©ì´í•´ìš”.
* ë°ì´í„° êµ¬ì¡°ì— ìˆ˜ì •, ì‚½ì… ë“± ë³€í˜•ì´ ììœ ë¡œì›Œìš”.

### **pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì´ìš©í•œ ë°ì´í„° ì „ì²˜ë¦¬**

pandasë¥¼ ì‚¬ìš©í•˜ì—¬ ì‹¤ì œë¡œ ì •í˜• ë°ì´í„°ë¥¼ ê°™ì´ í™•ì¸í•´ë³´ê³  ëˆ„ë½ëœ ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬í•´ìš”.  
1912ë…„ íƒ€ì´íƒ€ë‹‰í˜¸ ì¹¨ëª° ì‚¬ê³ ì˜ ì‹¤ì œ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬, ì–´ë–¤ ì •ë³´ê°€ ìˆëŠ”ì§€ ì‚´í´ë´ìš”.  
ìš°ì„  csvíŒŒì¼ í˜•íƒœë¡œ ì €ì¥ëœ ë°ì´í„° í”„ë ˆì„ì„ ë¶ˆëŸ¬ì˜¤ê³  ì •ë³´ë¥¼ íŒŒì•…í•´ë³´ì•„ìš”.

In [1]:
# titanic ë°ì´í„° í”„ë ˆì„ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import io
import requests
url = "https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/2-4.+titanic.csv"
s = requests.get(url).content

titanic = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [2]:
# titanic ë°ì´í„° í”„ë ˆì„ì˜ ì •ë³´ í™•ì¸
print('titanic ë°ì´í„° í”„ë ˆì„ì˜ í¬ê¸°:', titanic.shape)
print(titanic.info( ))

titanic ë°ì´í„° í”„ë ˆì„ì˜ í¬ê¸°: (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# titanic ë°ì´í„° í”„ë ˆì„ì˜ ì†ì„±ë³„ ê³ ìœ í•œ ë°ì´í„°ì˜ ê°œìˆ˜
titanic.nunique( )

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [5]:
# titanic['Survived'].unique( )
# titanic['Sex'].unique( )
# titanic['Pclass'].unique( )
titanic['Embarked'].unique( )

array(['S', 'C', 'Q', nan], dtype=object)

íƒ€ì´íƒ€ë‹‰ ë°ì´í„° í”„ë ˆì„ì—ëŠ” 12ê°€ì§€ì˜ ë°ì´í„°ê°€ ìˆë‹¤ëŠ” ê²ƒì„ í™•ì¸í–ˆì–´ìš”.  
ê·¸ëŸ¬ë©´ ì´ì œ ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•˜ê³ , ê° ë°ì´í„°ì˜ íŠ¹ì„±ì— ë§ê²Œ ì´ë¥¼ ì „ì²˜ë¦¬í•˜ì—¬ í•´ê²°í•´ë³´ì•„ìš”.

In [6]:
# ê²°ì¸¡ì¹˜ í™•ì¸
titanic.isnull( ).sum( )

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
titanic[["Age", "Cabin", "Embarked"]].head(10)

    Age Cabin Embarked
0  22.0   NaN        S
1  38.0   C85        C
2  26.0   NaN        S
3  35.0  C123        S
4  35.0   NaN        S
5   NaN   NaN        Q
6  54.0   E46        S
7   2.0   NaN        S
8  27.0   NaN        S
9  14.0   NaN        C

In [13]:
# Age ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ ì „ì²˜ë¦¬
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].mean( ))
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [9]:
# Embarked ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ ì „ì²˜ë¦¬
titanic.groupby('Embarked')['PassengerId'].count( )

Embarked
C    168
Q     77
S    644
Name: PassengerId, dtype: int64

In [10]:
titanic['Embarked'] = titanic['Embarked'].fillna('S')

In [11]:
# ê²°ì¸¡ì¹˜ ì¬í™•ì¸
titanic.isnull( ).sum( )

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc;">
    <div style="font-weight: bold; font-size: 20px">ğŸ’¯ ì—°ìŠµë¬¸ì œë¥¼ í’€ì–´ë´…ì‹œë‹¤</div>
    
1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="5m7SDG-ud94" href='#jce-judge/open/5m7SDG-ud94' target='_self'><span>ë°ì´í„° ì „ì²˜ë¦¬ ì—°ìŠµ</span></a>
2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="L42tTfYUbxk" href='#jce-judge/open/L42tTfYUbxk' target='_self'><span>ê°€ê³„ë¶€ ê²°ì¸¡ê°’ ë³€ê²½</span></a>
3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="1a5lam-7dW8" href='#jce-judge/open/1a5lam-7dW8' target='_self'><span>íŒë‹¤ìŠ¤ - ê²°ì¸¡ê°’ ì²˜ë¦¬ - ì¼ê´„ ë³€ê²½</span></a>
4. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="Rx-lpctLFg4" href='#jce-judge/open/Rx-lpctLFg4' target='_self'><span>íŒë‹¤ìŠ¤ - ê²°ì¸¡ê°’ ì²˜ë¦¬ - ì—´ì— ë”°ë¼ ë³€ê²½ (3)</span></a>